<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Most Used Social Media Platform!</title>
      </head>
      <body>
        <h1>Find Your Most Used Social Media Platform!</h1>
        <h2>Which one of these people are you most familiar with?</h2>
        <form method = "POST" action = "/results">
        <input type="radio" name="person" value="3">Shane Dawson<br>
        <input type="radio" name="person" value="1">Kanye West<br>
        <input type="radio" name="person" value="2">Selena Gomez<br>
        <input type="radio" name="person" value="4">Backpack Boy<br>
        <h2>How long would an average video that you would watch be?</h2>
        <input type="radio" name="video" value="1">2 minutes<br>
        <input type="radio" name="video" value="2">30 seconds<br>
        <input type="radio" name="video" value="4">7 seconds<br>
        <input type="radio" name="video" value="3">10 minutes<br>
        <h2>What do you like to do when you're stressed?</h2>
        <input type="radio" name="hobby" value="1">Catch up on celebrities/news<br>
        <input type="radio" name="hobby" value="2">Cook<br>
        <input type="radio" name="hobby" value="4">Play video games<br>
        <input type="radio" name="hobby" value="3">Watch beauty/makeup videos<br>
        <button type="submit">Submit</button>
        </form>
      </body>
      </html>