<!DOCTYPE html>
<html>
  <head>
    <title>Climate Central: Quiz</title>
    <link rel="stylesheet" type="text/css" href="">
  </head>
  <body>
   <form action="/" method="post">
     <p>What nature activity do you love most?</p>
     <input type="radio" name="nature" value="1">Camping<br>
     <input type="radio" name="nature" value="5">Ziplining<br>
     <input type="radio" name="nature" value="25">Picnics<br>
      <input type="radio" name="nature" value="10">Rope Course<br>
     <input type="radio" name="nature" value="15">Sports<br>
     <input type="radio" name="nature" value="20">Swimming<br>
     <p>What Pixar movie is your favorite?</p>
      <input type="radio" name="movie" value="15">Monsters Inc.<br>
      <input type="radio" name="movie" value="25">The Incredibles (1 and 2)<br>
      <input type="radio" name="movie" value="20">Inside Out<br>
      <input type="radio" name="movie" value="5">Toy Story 1, 2, 3<br>
      <input type="radio" name="movie" value="10">Up<br>
      <input type="radio" name="movie" value="1">Coco<br>
      <p>Choose a pizza topping.</p>
      <input type="radio" name="pizza" value="1">Just cheese<br>
      <input type="radio" name="pizza" value="20">Extra cheese<br>
      <input type="radio" name="pizza" value="5">Pepperoni<br>
      <input type="radio" name="pizza" value="25">Pineapple<br>
      <input type="radio" name="pizza" value="15">Bacon<br>
      <input type="radio" name="pizza" value="10">Onion<br>
      <p>What is your favorite ice cream flavor?</p>
      <input type="radio" name="ice" value="5">Chocolate<br>
      <input type="radio" name="ice" value="1">Vanilla<br>
      <input type="radio" name="ice" value="15">Strawberry<br>
      <input type="radio" name="ice" value="20">Cookie Dough<br>
      <input type="radio" name="ice" value="10">Cookies n' Cream<br>
      <input type="radio" name="ice" value="25">Chocolate and Vanilla<br>
      <p>What environmental issue concerns you most?</p>
      <input type="radio" name="issue" value="10">Air Pollution<br>
      <input type="radio" name="issue" value="25">Deforestation<br>
      <input type="radio" name="issue" value="5">Endangered Species<br>
      <input type="radio" name="issue" value="1">Water Pollution<br>
      <input type="radio" name="issue" value="20">Droughts<br>
      <input type="radio" name="issue" value="15">Nonrenewable Energy<br>
      <input type="submit">
   </form> 
  </body>
</html>