<!DOCTYPE html>
<html>
  <head>
    <title>Boston Fun!</title>
      </head>
      <body>
        <h1>Find what you should do in Boston!</h1>
         <form method = "POST" action = "/results">
        <h2>On a day off what would you most likely be doing?</h2>
        <input type="radio" name="person" value="2">Watching sports on TV<br>
        <input type="radio" name="person" value="6">Going on a walk outside<br>
        <input type="radio" name="person" value="8">Shopping with friends<br>
        <input type="radio" name="person" value="10">Reading a book<br>
        <input type="radio" name="person" value="4">Cooking new foods in your house<br>
        <h2>What are you usually listening to?</h2>
        <input type="radio" name="video" value="1">Rock Music<br>
        <input type="radio" name="video" value="5">Podcast<br>
        <input type="radio" name="video" value="3">Country<br>
        <input type="radio" name="video" value="4">Pop<br>
        <input type="radio" name="video" value="2">Jazz<br>
        <h2>How would your friends typically describe you?</h2>
        <input type="radio" name="hobby" value="6">Athletic<br>
        <input type="radio" name="hobby" value="2">Funny<br>
        <input type="radio" name="hobby" value="4">Hungry<br>
        <input type="radio" name="hobby" value="8">Trendy<br>
        <input type="radio" name="hobby" value="10">Smart<br>
        <button type="submit">Submit</button>
        </form>
      </body>
      </html>