<!DOCTYPE html>
<html> 

<head>
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
  <form action="/results" method="POST">
  
  <h2>Global warming, the gradual increase of the earth’s atmospheric temperature, is caused by:</h2>
  <input type="radio" name="global_warming" value="2">The melting of ice caps<br>
  <input type="radio" name="global_warming" value="3">The emission of greenhouse gases<br>
  <input type="radio" name="global_warming" value="1">I do not know<br>
  
  <h2>Waste management is:</h2>
  <input type="radio" name="waste_management" value="3">The dangerous and excessive amount of plastic and other waste on land and in water <br>
  <input type="radio" name="waste_management" value="2">The act of forgetting to throw away trash and recycle plastic, glass, etc.<br>
  <input type="radio" name="waste_management" value="1">I do not know<br>
  
  <h2>Pollution, the presence of harmful chemicals in the earth’s atmosphere, occurs:</h2>
  <input type="radio" name="pollution" value="2">In cities<br>
  <input type="radio" name="pollution" value="2">In suburbs<br>
  <input type="radio" name="pollution" value="3">Everywhere<br>
  <input type="radio" name="pollution" value="1">I do not know<br>

<h2>The gradual decline of clean drinking water is a result of:</h2>
<input type="radio" name="water" value="2">Increasing lack of recycling<br>
<input type="radio" name="water" value="3">Water pollution<br>
<input type="radio" name="water" value="1">I do not know<br>

<h2>Biodiversity is:</h2>
<input type="radio" name="biodiversity" value="3">The diverse variety of organisms and species on earth<br>
<input type="radio" name="biodiversity" value="2">The eventual extinction of certain species on earth<br>
<input type="radio" name="biodiversity" value="1">I do not know<br> 
<h2>The MEP stands for the:</h2>
<input type="radio" name="MEP" value="3">Massachusetts Environmental Police<br>
<input type="radio" name="MEP" value="2">Massachusetts Environmental Protection<br>
<input type="radio" name="MEP" value="2">Massachusetts Environmental Program<br>
<input type="radio" name="MEP" value="1">I do not know <br> 
<button type="submit" class="new">See your results!</button>
</form>
</body>

</html>



Add CommentCollapse